/* tab content (pieces) ==== */
// might want to combine into a larger compoonent with tab-row
.tab-content{
	max-width:800px;
	margin:0 auto 20px auto;
	padding:30px 20px;
	border:1px solid $grey;
	position:relative;
	margin-top:-1px;

	.tab-content_close{
		@include close-button($blue)
		top:10px;
		right:10px;
	}
}